
#myCart{
    margin: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
}
.cartHeading{
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.imageHeading{
    width: 270px;
}
.itemHeading{
    width: 500px;
}
.priceHeading{
    width: 135px;
}
.myCartItems{
    width: 100%;
    height: 190px;
    display: flex;
}

.cartItemImage{
    width: 270px;
}
.itemImage img{
    width: 180px;
}
.itemImage {
    text-align: center;
}
.cartItemDetails{
    width: 500px;


}
.cartItemPrice{
    width: 135px;
    text-align: center;

}
#totalPrice{
    width: 77%;
    padding: 0px 171px;
    text-align: end;
}